apiVersion: nfd.openshift.io/v1
kind: NodeFeatureDiscovery
metadata:
  name: nfd-instance
spec:
  operand:
    image: >-
      registry.redhat.io/openshift4/ose-node-feature-discovery{{ ternary "-rhel9" "" (semverCompare ">=4.15.0" .Values.global.clusterVersion) }}:v{{ .Values.global.clusterVersion }}
    servicePort: 12000
  workerConfig:
    configData: |
      core:
        sleepInterval: 60s
      sources:
        pci:
          deviceClassWhitelist:
            - "0200"
            - "03"
            - "12"
          deviceLabelFields:
            - "vendor"
